*.o
sss
sss_dbg
tests/test_bmp
tests/test_fase2
tests/test_math_permutation
tests/test_distribute
tests/compare_bmp
tests/out_albert.bmp
tests/carriers_test/
tests/secret_test.bmp
tests/recovered_secret.bmp